{% extends 'product/base-forms.html' %}
{% load static %}
{% block page_title %}Product Main Page{% endblock %}
{% block content %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Custom elements start here -->
    <section class="content">
        <div class="container-fluid">
            <!-- Info boxes -->
            <div class="row  pt-3">
                <div class="col-6">
                    <div class="info-box mb-3">
                        <span class="info-box-icon bg-fuchsia
                        elevation-1"><i class="fas fa-cog"></i></span>
                        <div class="info-box-content">
                            <h5 class="big-part-name mt-3">Название Запчасти Большое Будет Здесь</h5>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
                <!-- /.col -->
                <!-- fix for small devices only -->
                <div class="clearfix hidden-md-up"></div>
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="info-box mb-3">
                        <span class="info-box-icon bg-success elevation-1"><i class="fas fa-shopping-cart"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Цена</span>
                            <span class="info-box-number">760</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
                <!-- /.col -->
                <div class="col-12 col-sm-6 col-md-3">
                    <div class="info-box mb-3">
                        <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-users"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Наличие</span>
                            <span class="info-box-number">2,000</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-md-6">
                    <div class="card card-success">
                        <div class="card-header">
                            <h3 class="card-title">Основные параметры</h3>
                        </div>
                        <div class="card-body">
                            <label for="productName">Название запчасти</label>
                            <input class="form-control form-control-sm" type="text" id="productName"
                                placeholder="Наименование">
                            <br>
                            <label for="productGroup">Группа запчасти</label>
                            <input class="form-control form-control-sm" type="text" id="productGroup"
                                placeholder="Группа">
                            <br>
                            <div class="row">
                                <div class="col-6">
                                    <label for="productCatNumber">Каталожный номер</label>
                                    <input class="form-control form-control-sm" type="text" id="productCatNumber"
                                        placeholder="Каталожный номер">
                                </div>
                                <div class="col-6">
                                    <label for="productName">Бренд</label>
                                    <input class="form-control form-control-sm" type="text" id="productBrand"
                                        placeholder="Бренд">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-6">
                                    <label for="make">Марка Машины</label>
                                    <input class="form-control form-control-sm" type="text" id="make"
                                        placeholder="Марка">
                                </div>
                                <div class="col-6">
                                    <label for="model">Модель Машины</label>
                                    <input class="form-control form-control-sm" type="text" id="model"
                                        placeholder="Модель">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-6">
                                    <label for="engine">Двигатель</label>
                                    <input class="form-control form-control-sm" type="text" id="engine"
                                        placeholder="Двигатель">
                                </div>
                                <div class="col-6">
                                    <label for="1cid">1C id</label>
                                    <input class="form-control form-control-sm" type="text" id="1cid"
                                        placeholder="1C ID">
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-6">
                                    <div class="custom-control custom-switch">
                                        <input type="checkbox" class="custom-control-input" id="isActive" checked>
                                        <label class="custom-control-label" for="isActive">Активный</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card card-primary card-tabs">
                        <div class="card-header p-0 pt-1">
                            <ul class="nav nav-tabs" id="custom-tabs-one-tab-photo" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="custom-tabs-one-home-tab-photo" data-toggle="pill"
                                        href="#custom-tabs-one-photo" role="tab"
                                        aria-controls="custom-tabs-one-home-photo" aria-selected="true">Фото и Видео</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="custom-tabs-one-settings-tab" data-toggle="pill"
                                        href="#custom-tabs-one-settings" role="tab"
                                        aria-controls="custom-tabs-one-settings" aria-selected="false">Настойки</a>
                                </li>

                            </ul>
                        </div>
                        <div class="card-body">
                            <div class="tab-content" id="custom-tabs-one-tabContent-photo">
                                <div class="tab-pane fade show active" id="custom-tabs-one-photo" role="tabpanel"
                                    aria-labelledby="custom-tabs-one-photo-tab">
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="product-main-thumbs">
                                                <img src="http://placehold.it/120x120" alt="...">
                                                <img src="http://placehold.it/120x120" alt="...">
                                                <img src="http://placehold.it/120x120" alt="...">
                                                <img src="http://placehold.it/120x120" alt="...">
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="embed-responsive embed-responsive-16by9">
                                                <iframe class="embed-responsive-item"
                                                    src="https://www.youtube.com/embed/tMWkeBIohBs" frameborder="0"
                                                    allowfullscreen=""></iframe>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="custom-tabs-one-settings" role="tabpanel"
                                    aria-labelledby="custom-tabs-one-settings-tab">
                                    <div class="mb-3">
                                        <form action="">
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <label>Select</label>
                                                        <select class="form-control form-control-sm">
                                                            <option>option 1</option>
                                                            <option>option 2</option>
                                                            <option>option 3</option>
                                                            <option>option 4</option>
                                                            <option>option 5</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <label>Select</label>
                                                        <select class="form-control form-control-sm">
                                                            <option>option 1</option>
                                                            <option>option 2</option>
                                                            <option>option 3</option>
                                                            <option>option 4</option>
                                                            <option>option 5</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <label>Select</label>
                                                        <select class="form-control form-control-sm">
                                                            <option>option 1</option>
                                                            <option>option 2</option>
                                                            <option>option 3</option>
                                                            <option>option 4</option>
                                                            <option>option 5</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="form-group">
                                                        <label>Select</label>
                                                        <select class="form-control form-control-sm">
                                                            <option>option 1</option>
                                                            <option>option 2</option>
                                                            <option>option 3</option>
                                                            <option>option 4</option>
                                                            <option>option 5</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-6">
                                                    <button class="btn btn-primary btn-sm">Применить</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- /.card -->
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="card card-primary card-tabs">
                        <div class="card-header p-0 pt-1">
                            <ul class="nav nav-tabs" id="custom-tabs-one-tab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="custom-tabs-one-home-tab" data-toggle="pill"
                                        href="#custom-tabs-one-home" role="tab" aria-controls="custom-tabs-one-home"
                                        aria-selected="true">Атрибуты</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="custom-tabs-one-profile-tab" data-toggle="pill"
                                        href="#custom-tabs-one-profile" role="tab"
                                        aria-controls="custom-tabs-one-profile" aria-selected="false">Описание</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="custom-tabs-one-messages-tab" data-toggle="pill"
                                        href="#custom-tabs-one-messages" role="tab"
                                        aria-controls="custom-tabs-one-messages" aria-selected="false">Messages</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="custom-tabs-one-settings-tab" data-toggle="pill"
                                        href="#custom-tabs-one-settings" role="tab"
                                        aria-controls="custom-tabs-one-settings" aria-selected="false">Settings</a>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <div class="tab-content" id="custom-tabs-one-tabContent">
                                <div class="tab-pane fade show active" id="custom-tabs-one-home" role="tabpanel"
                                    aria-labelledby="custom-tabs-one-home-tab">
                                    <div class="row">
                                        <div class="col-6">
                                            <label for="1attr">Атрибут Один</label>
                                            <input class="form-control form-control-sm" type="text"
                                                placeholder=".form-control-sm" id="1attr">
                                        </div>
                                        <div class="col-6">
                                            <label for="1attr_val">Значение Один</label>
                                            <input class="form-control form-control-sm" type="text"
                                                placeholder=".form-control-sm" id="1arrt_val">
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-6">
                                            <label for="1attr">Атрибут Один</label>
                                            <input class="form-control form-control-sm" type="text"
                                                placeholder=".form-control-sm" id="1attr">
                                        </div>
                                        <div class="col-6">
                                            <label for="1attr_val">Значение Один</label>
                                            <input class="form-control form-control-sm" type="text"
                                                placeholder=".form-control-sm" id="1arrt_val">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <label for="1attr">Атрибут Один</label>
                                            <input class="form-control form-control-sm" type="text"
                                                placeholder=".form-control-sm" id="1attr">
                                        </div>
                                        <div class="col-6">
                                            <label for="1attr_val">Значение Один</label>
                                            <input class="form-control form-control-sm" type="text"
                                                placeholder=".form-control-sm" id="1arrt_val">
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="custom-tabs-one-profile" role="tabpanel"
                                    aria-labelledby="custom-tabs-one-profile-tab">
                                    <div class="mb-3">
                                        <textarea class="textarea" placeholder="Добавте описание запчасти"
                                            style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;">
                                            Morbi turpis dolor, vulputate vitae felis non, tincidunt congue mauris.
                                            Phasellus volutpat augue id mi placerat mollis. Vivamus faucibus eu massa
                                            eget condimentum. Fusce nec hendrerit sem, ac tristique nulla. Integer
                                            vestibulum orci odio. Cras nec augue ipsum. Suspendisse ut velit
                                            condimentum, mattis urna a, malesuada nunc. Curabitur eleifend facilisis
                                            velit finibus tristique. Nam vulputate, eros non luctus efficitur, ipsum
                                            odio volutpat massa, sit amet sollicitudin est libero sed ipsum. Nulla
                                            lacinia, ex vitae gravida fermentum, lectus ipsum gravida arcu, id fermentum
                                            metus arcu vel metus. Curabitur eget sem eu risus tincidunt eleifend ac
                                            ornare magna.
                                        </textarea>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="custom-tabs-one-messages" role="tabpanel"
                                    aria-labelledby="custom-tabs-one-messages-tab">
                                    Morbi turpis dolor, vulputate vitae felis non, tincidunt congue mauris.
                                    Phasellus volutpat augue id mi placerat mollis. Vivamus faucibus eu massa
                                    eget condimentum. Fusce nec hendrerit sem, ac tristique nulla. Integer
                                    vestibulum orci odio. Cras nec augue ipsum. Suspendisse ut velit
                                    condimentum, mattis urna a, malesuada nunc. Curabitur eleifend facilisis
                                    velit finibus tristique. Nam vulputate, eros non luctus efficitur, ipsum
                                    odio volutpat massa, sit amet sollicitudin est libero sed ipsum. Nulla
                                    lacinia, ex vitae gravida fermentum, lectus ipsum gravida arcu, id fermentum
                                    metus arcu vel metus. Curabitur eget sem eu risus tincidunt eleifend ac
                                    ornare magna.
                                </div>
                                <div class="tab-pane fade" id="custom-tabs-one-settings" role="tabpanel"
                                    aria-labelledby="custom-tabs-one-settings-tab">
                                    Pellentesque vestibulum commodo nibh nec blandit. Maecenas neque magna,
                                    iaculis tempus turpis ac, ornare sodales tellus. Mauris eget blandit dolor.
                                    Quisque tincidunt venenatis vulputate. Morbi euismod molestie tristique.
                                    Vestibulum consectetur dolor a vestibulum pharetra. Donec interdum placerat
                                    urna nec pharetra. Etiam eget dapibus orci, eget aliquet urna. Nunc at
                                    consequat diam. Nunc et felis ut nisl commodo dignissim. In hac habitasse
                                    platea dictumst. Praesent imperdiet accumsan ex sit amet facilisis.
                                </div>
                            </div>
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
                <div class="col-6">
                    <!-- Custom tabs (Charts with tabs)-->
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">
                                <i class="fas fa-chart-pie mr-1"></i>
                                Sales
                            </h3>
                            <div class="card-tools">
                                <ul class="nav nav-pills ml-auto">
                                    <li class="nav-item">
                                        <a class="nav-link active" href="#revenue-chart" data-toggle="tab">Area</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#sales-chart" data-toggle="tab">Donut</a>
                                    </li>
                                </ul>
                            </div>
                        </div><!-- /.card-header -->
                        <div class="card-body">
                            <div class="tab-content p-0">
                                <!-- Morris chart - Sales -->
                                <div class="chart tab-pane active" id="revenue-chart"
                                    style="position: relative; height: 300px;">
                                    <canvas id="revenue-chart-canvas" height="300" style="height: 300px;"></canvas>
                                </div>
                                <div class="chart tab-pane" id="sales-chart" style="position: relative; height: 300px;">
                                    <canvas id="sales-chart-canvas" height="300" style="height: 300px;"></canvas>
                                </div>
                            </div>
                        </div><!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div>
    </section>
    <!-- /.Custom elements ends here -->
    
</div>
<!-- /.content-wrapper -->
{% endblock content %}
{% block js %}
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="{% static 'dist/js/pages/dashboard.js' %}"></script>
<script>
    $(function () {
        // Summernote
        $('.textarea').summernote()
    })
</script>
{% endblock %}